[submodule "src/extlibs/ZipLib"]
	path = src/extlibs/ZipLib
	url = https://bitbucket.org/wbenny/ziplib.git

[submodule "src/extlibs/json11"]
	path = src/extlibs/json11
	url = https://github.com/dropbox/json11.git
	
[submodule "src/extlibs/docopt-cpp"]
	path = src/extlibs/docopt-cpp
	url = https://github.com/docopt/docopt.cpp

[submodule "build/src/extlibs/nbt"]
	path = build/src/extlibs/nbt
	url = https://github.com/FliPPeh/cNBT.git
